

.bg-img {
    background-image: url("../public/bg.png");
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 95vh;
    filter: brightness(50%);
    opacity: 1;
    background-size: cover;
}

.wrapper{
    display: flex;
    height: 95vh;
    width: 100%;
    flex-direction: row;
}